@font-face {
	font-family: 'Hasteristico';
	src: url(hasteristico-bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Hasteristico';
	src: url(hasteristico-light.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
  padding: 1.5em;
  margin: 0;
  background-color: black;
  font-family: 'Hasteristico';
  letter-spacing: 0.05em;
  color: #ebebeb;
  max-width: 100ch;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,.screenshot {
  text-transform: uppercase;
  font-weight: bold;
}

* + :is(h1,h2,h3,h4,h5,h6) {
  margin-top: 3em;
}

a {
  text-decoration: none;
  color: rgb(88,146,246);
}

p {
  text-align: justify;
}

p::first-letter {
  text-transform: uppercase;
}

ul {
  padding-left: 3ch;
  line-height: 1.5;
}

ul ol {
  padding: 0.5em 0 0.5em 2ch;
  /*padding-left: 2ch;
  padding-top: 0.5em;*/
  font-size: 0.85em;
}

:is(ul, ol) > li + li {
  margin-top: 0.5em;
}

sub {
  display: flex;
  font-style: italic;
}

sub + sub {
  margin-top: 1em;
}

sub > :first-child {
  font-weight: bold;
}

sub > * + * {
  margin-left: 1.5ch;
}

[href="#asterix"] {
  font-style: italic;
  font-weight: bold;
}

[href="#asterix"],
[name=asterix],
.footnotes {
  color: rgba(255,255,0,75%);
}

.nowrap {
  white-space: nowrap;
}

.footnotes {
  font-style: italic;
}

.screenshot {
  box-sizing: border-box;
  box-shadow: inset 0 0 1px 0 yellow;
  font-size: 0.75em;
  font-weight: bold;
  padding: 0.5em 0.75em;
  color: yellow;
  align-items: flex-end;
  letter-spacing: 0.125em;
}

.screenshot:not(:last-child) {
  margin-bottom: 4.125em;
}

.screenshot.wide {
  display: none;
  width: 100%;
}

.screenshot.narrow {
  display: flex;
  width: min(348px, 100%);
}

.screenshot.wide::after {
  content: "mac os";
}

.screenshot.narrow::after {
  content: "ios";
}

#ios_logged_out {
  background: url(images/ios_logged_out.png) top left/100%;
  aspect-ratio: 0.5;
}

#ios_widget_login {
  background: url(images/ios_widget_login.png) top left/100%;
  aspect-ratio: 0.475;
}

#ios_widget_logged_in {
  background: url(images/ios_widget_logged_in.png) top left/100%;
  aspect-ratio: 0.475;
}

#ios_add_bookmark {
  background: url(images/ios_add_bookmark.png) top left/100%;
  aspect-ratio: 0.47;
}

#ios_fill_in_form {
  background: url(images/ios_fill_in_form.gif) top left/100%;
  aspect-ratio: 0.47;
}

#ios_search_results {
  background: url(images/ios_search_results.png) top left/100%;
  aspect-ratio: 0.56;
}

img[src$="drafts_switch.png"] {
  height: 1.5em;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .screenshot.wide {
    display: flex;
  }

  #macos_logged_out {
    background: url(images/macos_logged_out.png) top left/200%;
    aspect-ratio: 16/6;
  }

  #macos_widget_login {
    background: url(images/macos_widget_login.png) top left/100%;
    aspect-ratio: 16/9;
  }

  #macos_widget_logged_in {
    background: url(images/macos_widget_logged_in.png) top left/100%;
    aspect-ratio: 16/9;
  }

  #macos_add_bookmark {
    background: url(images/macos_add_bookmark.png) top left/200%;
    aspect-ratio: 16/7.5;
  }

  #macos_fill_in_form {
    background: url(images/macos_fill_in_form.gif) top left/100%;
    aspect-ratio: 16/8;
  }

  #macos_search_results {
    background: url(images/macos_search_results.png) top left/100%;
    aspect-ratio: 16/9;
  }
}
