body {
  padding: 1.5em;
  margin: 0 auto;
  background-color: #ebebeb;
  font-family: 'Arial';
  letter-spacing: 0.05em;
  max-width: 80ch;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

* + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 2.5em;
}

p {
  text-align: justify;
}
